.preloader {
    display             : none;
    position            : absolute;
    top                 : 0;
    left                : 0;
    width               : 100%;
    height              : 100vh;
    background-color    : var(--color-light);
    overflow            : hidden;
}
.preloader.onload {
    z-index             : 99;
    display             : block;
}
.preloader-container {
    display             : flex;
    align-items         : center;
    justify-content     : center;
    width               : 100%;
    height              : 100%;
    opacity             : 0.25;
}
.preloader img {
    width: 10rem;
}

.block {
    overflow            : hidden;
    height              : 100vh;
}


.preloader[data-theme="light"] .dark-mode-item {
    display     : none;
}


.preloader[data-theme="dark"] {
    background-color: var(--color-dark);
}
.preloader[data-theme="dark"] .light-mode-item {
    display     : none;
}