:root {
    --sd-font-family            : 'Roboto', sans-serif;
    --sd-font-size              : 10pt;
    --sd-font-weight            : medium;
    --sd-font-heading-weight    : bold;
    --sd-font-heading-6         : calc(var(--sd-font-size) * 1.25);
    --sd-font-heading-5-5       : calc(var(--sd-font-size) * 1.3);
    --sd-font-heading-5         : calc(var(--sd-font-size) * 1.5);
    --sd-font-heading-4         : calc(var(--sd-font-size) * 1.75);
    --sd-font-heading-3         : calc(var(--sd-font-size) * 2);
    --sd-font-heading-2         : calc(var(--sd-font-size) * 2.25);
    --sd-font-heading-1         : calc(var(--sd-font-size) * 2.5);
    --sd-font-weight-black      : 900;
    --sd-font-weight-bolder     : 800;
    --sd-font-weight-bold       : 700;
    --sd-font-weight-medium     : 600;
    --sd-font-weight-normal     : 500;
    --sd-font-weight-light      : 400;
    --sd-font-weight-thin       : 300;
    --sd-pad-margin-xxs         : 0.5rem;
    --sd-pad-margin-xs          : 0.75rem;
    --sd-pad-margin-sm          : 1rem;
    --sd-pad-margin-md          : 1.25rem;
    --sd-pad-margin-lg          : 1.5rem;
    --sd-pad-margin-xl          : 1.75rem;
    --sd-pad-margin-xxl         : 2rem;
    --sd-line-height-df         : 1.5;
    --sd-line-height-sm         : 1.25;
    --sd-content-padding        : 15%;
    --sd-content-padding-sm     : 9%;
    --sd-radius-xs              : 3px;
    --sd-radius-sm              : 5px;
    --sd-radius-md              : 7px;
    --sd-radius-lg              : 9px;
    --sd-radius-xl              : 12px;
    --color-dark                : #17202A;
    --color-dark-2              : #1B2631;
    --color-blue                : #3498DB;
    --color-blue-2              : #4BB7FF;
    --color-light               : #FBFCFC;
    --color-light-2             : #F7F9F9;
    --color-light-3             : #F1F1F1;
    --color-grey                : #D5D8DC;
    --color-grey-2              : #ABB2B9;
    --color-grey-3              : #808B96;
    --color-shadow              : 0 3px 10px rgb(0 0 0 / 0.25);
    --bottom-shadow             : 0 8px 6px -6px rgb(0 0 0 / 0.25);

    --color-theme-1             : #82E0AA;
    --color-theme-2             : #58D68D;
    --color-theme-3             : #2ECC71;
    --color-theme-4             : #28B463;
}

body {
    margin          : 0;
    padding         : 0;
    width           : 100%;
    min-height      : 100%;
    font-family     : 'Roboto', sans-serif;
    letter-spacing  : 0.05rem;
    font-size       : 12px;
}

/*LANDING*/
.landing {
    position        : relative;
    display         : flex;
    flex-direction  : column;
    min-height      : 100vh;
}
.app-content {
    flex-grow       : 1;
}

/*NAVIGATOR*/
.nav-container {
    z-index         : 10;
    top             : 0;
    position        : sticky;
}
.nav-sub-menu {
    background-color    : var(--color-light-2);
}
.navigator {
    padding             : var(--sd-pad-margin-sm) var(--sd-content-padding);
    display             : flex;
    flex-direction      : row;
    align-items         : center;
    justify-content     : space-between;
    background-color    : var(--color-light-2);
}
.navigator-title {
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    margin-right    : var(--sd-pad-margin-xs);
}
.navigator-title-logo {
    width           : 48px;
    margin-right    : var(--sd-pad-margin-xs);
}
.navigator-title-text {
    margin-bottom   : 0;
    text-transform  : capitalize;
    font-size       : var(--sd-font-heading-3);
    font-weight     : var(--sd-font-weight-bolder);
    color           : var(--color-dark);
}
.navigator-content {
    display: flex;
    flex-direction: row;
}
.navigator-content-item {
    text-transform  : capitalize;
    font-size       : var(--sd-font-heading-5-5);
    font-weight     : var(--sd-font-weight-light);
    color           : var(--color-dark);
    margin          : 0 var(--sd-pad-margin-lg);
    cursor          : pointer;
}
.navigator-content-item:hover {
    color           : var(--color-blue);
}
.navigator-right {
    margin-left     : var(--sd-pad-margin-xs);
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : center;
}
.nav-sub-menu {
    padding             : var(--sd-pad-margin-sm) var(--sd-content-padding);
    position            : absolute;
    display             : flex;
    flex-direction      : row;
    align-items         : start;
    justify-content     : space-between;
    min-height          : 420px;
    width               : 100%;
    background-color    : rgba(255, 255, 255, 0.95);
}
.nav-sub-menu-list {
    margin-right        : var(--sd-pad-margin-xxl);
    min-width           : 25%;
}
.nav-sub-menu-list-item {
    text-transform      : capitalize;
    font-size           : var(--sd-font-heading-5-5);
    font-weight         : var(--sd-font-weight-medium);
    margin              : var(--sd-pad-margin-xxs);
    color               : var(--color-grey-3);
    cursor              : pointer;
}
.nav-sub-menu-list-item:hover {
    color               : var(--color-blue-2);
}
.nav-sub-menu-content {
    flex-grow           : 1;
    margin-left         : var(--sd-pad-margin-xxl);
}
.nav-sub-menu-content h1, .nav-sub-menu-content h4:first-letter {
    text-transform      : capitalize;
}
.nav-sub-menu-content h1 {
    margin-bottom       : var(--sd-pad-margin-md);
    line-height         : var(--sd-line-height-sm);
}
.nav-sub-menu-content h4 {
    font-weight         : var(--sd-font-weight-light);
    line-height         : var(--sd-line-height-df);
}

/*FOOTER*/
.footer {
    background-color    : var(--color-dark);
}

/*LANDING HEADER VIDEO*/
.landing-header-container {
    top                 : 0;
    position            : relative;
    overflow            : hidden;
    width               : 100%;
    height              : 540px;
    background-color    : var(--color-dark);
}
.landing-header-container video {
    position    : relative;
    width       : 100%;
}
.landing-header-overlay {
    top                 : 0;
    left                : 0;
    z-index             : 2;
    position            : absolute;
    display             : flex;
    align-items         : center;
    justify-content     : center;
    width               : 100%;
    height              : 100%;
    background-color    : rgba(0, 0, 0, 0.65);
}
.landing-header-overlay-content {
    padding             : var(--sd-pad-margin-sm) var(--sd-content-padding);
    flex-grow           : 1;
    color               : var(--color-light)
}
.landing-header-overlay-content h1, .title {
    letter-spacing      : 0.75rem;
    font-size           : calc(var(--sd-font-heading-1) * 2);
    font-weight         : var(--sd-font-weight-bold);
    text-transform      : uppercase;
}
.landing-header-overlay-content h6 {
    font-size           : var(--sd-font-heading-5-5);
    font-weight         : var(--sd-font-weight-thin);
    text-transform      : uppercase;
    margin-bottom       : var(--sd-pad-margin-md);
}
.title {
    word-break          : break-word;
}

/*FULL BACKGROUND CONTAINER*/
.full-bg-block {
    top                 : 0;
    position            : relative;
    overflow            : hidden;
    width               : 100%;
    min-height          : 480px;
}

/*CONTENT BLOCK*/
.content-block {
    padding             : calc(var(--sd-pad-margin-xxl) * 1.5) var(--sd-content-padding);
}
.content-body {
    margin-top          : var(--sd-pad-margin-xxl);
}

/*2 FLEX CONTAINER*/
.flex-container-2 {
    display         : flex;
    flex-direction  : row;
}
.flex-container-2.reverse {
    flex-direction  : row-reverse;
}
.flex-container-2>div {
    flex-grow       : 1;
}
.flex-container-2.reverse>div:first-child {
    margin-left     : var(--sd-pad-margin-md);
}

/*CUSTOM CARD GRID*/
.cus-grid-6 {
    display                 : grid;
    grid-template-columns   : repeat(6, 1fr);
    grid-template-rows      : 1fr;
    grid-column-gap         : 0;
    grid-row-gap            : 0;
}
.cus-grid-6>div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.cus-grid-6>div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.cus-grid-6>div:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
.cus-grid-6>div:nth-child(4) { grid-area: 1 / 4 / 2 / 5; }
.cus-grid-6>div:nth-child(5) { grid-area: 1 / 5 / 2 / 6; }
.cus-grid-6>div:nth-child(6) { grid-area: 1 / 6 / 2 / 7; }
.cus-grid-5 {
    display                 : grid;
    grid-template-columns   : repeat(5, 1fr);
    grid-template-rows      : 1fr;
    grid-column-gap         : 0;
    grid-row-gap            : 0;
}
.cus-grid-5>div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.cus-grid-5>div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.cus-grid-5>div:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
.cus-grid-5>div:nth-child(4) { grid-area: 1 / 4 / 2 / 5; }
.cus-grid-5>div:nth-child(5) { grid-area: 1 / 5 / 2 / 6; }
.cus-grid-4 {
    display                 : grid;
    grid-template-columns   : repeat(4, 1fr);
    grid-template-rows      : 1fr;
    grid-column-gap         : 0;
    grid-row-gap            : 0;
}
.cus-grid-4>div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.cus-grid-4>div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.cus-grid-4>div:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
.cus-grid-4>div:nth-child(4) { grid-area: 1 / 4 / 2 / 5; }
.cus-grid-3 {
    display                 : grid;
    grid-template-columns   : repeat(3, 1fr);
    grid-template-rows      : 1fr;
    grid-column-gap         : 0;
    grid-row-gap            : 0;
}
.cus-grid-3>div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.cus-grid-3>div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.cus-grid-3>div:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
.cus-grid-2 {
    display                 : grid;
    grid-template-columns   : repeat(2, 1fr);
    grid-template-rows      : 1fr;
    grid-column-gap         : 0;
    grid-row-gap            : 0;
}
.cus-grid-2>div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.cus-grid-2>div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.cus-grid-6 .cus-grid-item:first-child,
.cus-grid-5 .cus-grid-item:first-child,
.cus-grid-4 .cus-grid-item:first-child,
.cus-grid-3 .cus-grid-item:first-child,
.cus-grid-2 .cus-grid-item:first-child
{
    margin-right    : calc(var(--sd-pad-margin-md) * 2);
    margin-left     : 0;
}
.cus-grid-6 .cus-grid-item:last-child,
.cus-grid-5 .cus-grid-item:last-child,
.cus-grid-4 .cus-grid-item:last-child,
.cus-grid-3 .cus-grid-item:last-child,
.cus-grid-2 .cus-grid-item:last-child
{
    margin-right    : 0;
    margin-left     : calc(var(--sd-pad-margin-md) * 2);
}
.cus-grid-item {
    margin          : 0 var(--sd-pad-margin-md);
}

/*CUSTOM CARD*/
.cus-cards-container .cus-card {
    margin          : 0 var(--sd-pad-margin-md);
}
.cus-cards-container .cus-card:first-child {
    margin-left     : 0;
}
.cus-cards-container .cus-card:last-child {
    margin-right    : 0;
}
.cus-card {
    overflow        : hidden;
    border-radius   : var(--sd-radius-md);
    box-shadow      : var(--color-shadow);
    display         : flex;
    flex-direction  : column;
}
.cus-card-thumbnail {
    position    : relative;
    height      : 460px;
}
.cus-card-thumbnail-img {
    background-repeat   : no-repeat;
    background-size     : auto 120%;
    background-position : center;
    position            : absolute;
    top                 : 0;
    left                : 0;
    width               : 100%;
    height              : 100%;
    transition          : all 300ms ease-in-out;
    cursor              : pointer;
}
.cus-card-thumbnail-img:hover {
    background-size     : auto 140%;
    transition          : all 300ms ease-in-out;
}
.cus-card-thumbnail-overlay {
    position            : absolute;
    width               : 100%;
    height              : 100%;
    top                 : 0;
    left                : 0;
    background-color    : var(--color-dark);
    pointer-events      : none;
}
.cus-card-thumbnail-icon {
    display             : flex;
    align-items         : center;
    justify-content     : center;
    position            : absolute;
    width               : 100%;
    height              : 100%;
    top                 : 0;
    left                : 0;
    pointer-events      : none;
}
.cus-card-thumbnail-icon img {
    width               : 35%;
}
.cus-card-body {
    padding         : var(--sd-pad-margin-lg);
    display         : flex;
    flex-direction  : column;
    flex-grow       : 1;
}
.cus-card-title {
    font-size       : var(--sd-font-heading-4);
    font-weight     : var(--sd-font-weight-bold);
}
.cus-card-title-sm {
    font-size       : var(--sd-font-heading-5);
    font-weight     : var(--sd-font-weight-bold);
}
.cus-card-description {
    flex-grow       : 1;
    font-size       : var(--sd-font-heading-5-5);
}
.cus-card-description-sm {
    flex-grow       : 1;
    font-size       : calc(var(--sd-font-heading-5-5) * 0.75);
}
.cus-card-buttons {
    margin-top      : var(--sd-pad-margin-sm);
    display         : flex;
    flex-direction  : row;
}
.cus-card-button {
    font-size       : var(--sd-font-heading-5-5);
    font-weight     : var(--sd-font-weight-bold);
    color           : var(--color-blue);
    margin-right    : var(--sd-pad-margin-md);
    cursor          : pointer;
}

/*CUSTOM BOX CARD SLIDER*/
.cus-slider {
    overflow-x      : visible;
}
.cus-slider .box-card {
    display: inline-block;
}

/*BOX CARD*/
.box-card {
    border-radius       : var(--sd-radius-md);
    padding             : var(--sd-pad-margin-md);
    overflow            : auto;
    display             : flex;
    flex-direction      : column;
    transition          : 300ms all ease-in;
}
.box-dark {
    background-color    : transparent;
    border              : 3px solid var(--color-light);
    color               : var(--color-light);
}
.box-card-header {
    position            : sticky;
    top                 : 0;
    z-index             : 2;
    transition          : 300ms all ease-in;
}
.box-card-header.box-header-active{
    background-color    : var(--color-light);
}
.box-toggle {
    position            : relative;
    z-index             : -1;
    opacity             : 0;
}
.box-dark.box-active {
    background-color    : var(--color-light);
    border              : 3px solid var(--color-light);
    color               : var(--color-dark);
}
.box-dark.box-active .box-toggle{
    z-index             : inherit;
    opacity             : 1;
}

/*HEADING*/
.heading-1 {
    font-size       : calc(var(--sd-font-heading-1) * 1.25);
    font-weight     : var(--sd-font-weight-bold);
    text-transform  : capitalize;
}
.heading-2 {
    font-size       : calc(var(--sd-font-heading-2) * 1.25);
    font-weight     : var(--sd-font-weight-bold);
    text-transform  : capitalize;
}
.heading-3 {
    font-size       : calc(var(--sd-font-heading-3) * 1.25);
    font-weight     : var(--sd-font-weight-bold);
    text-transform  : capitalize;
}
.heading-4 {
    font-size       : calc(var(--sd-font-heading-4) * 1.25);
    font-weight     : var(--sd-font-weight-bold);
    text-transform  : capitalize;
}
.heading-5 {
    font-size       : calc(var(--sd-font-heading-5) * 1.25);
    font-weight     : var(--sd-font-weight-bold);
    text-transform  : capitalize;
}

/*BUTTON*/
.but {
    cursor          : pointer;
    padding         : var(--sd-pad-margin-xxs) var(--sd-pad-margin-sm);
    font-size       : var(--sd-font-heading-5-5);
    font-weight     : var(--sd-font-weight-normal);
    border-radius   : var(--sd-radius-sm);
}
.but-blue {
    background-color    : var(--color-blue);
    color               : var(--color-light);
}
.tag-but {
    cursor          : pointer;
    padding         : var(--sd-pad-margin-xxs) var(--sd-pad-margin-sm);
    font-size       : var(--sd-font-heading-5-5);
    font-weight     : var(--sd-font-weight-normal);
    border-radius   : 5rem;
    border          : 2px solid var(--color-light);
}
.tag-but.focus {
    background-color    : var(--color-light);
    color               : var(--color-dark);
}

/*TEXT*/
.txt-weight-bold {
    font-weight     : var(--sd-font-weight-bold);
}
.txt-light {
    color       : var(--color-light);
}
.txt-grey {
    color       : var(--color-grey-2);
}
.txt-left {
    text-align  : left;
}
.txt-right {
    text-align: right;
}
.txt-small {
    font-size           : calc(var(--sd-font-heading-5-5) / 1.3);
    font-weight         : var(--sd-font-weight-thin);
}

/*BORDER*/
.border-bot-grey {
    border-bottom: solid 1px var(--color-grey-2);
}

/*MISC*/
.no-select {
    -webkit-user-select : none;
    -ms-user-select     : none;
    user-select         : none;
}
.w-60 {
    width       : 60%;
}
.logo-partner {
    max-height  : 72px;
    max-width   : 166px;
}
.txt {
    font-size       : var(--sd-font-heading-5-5);
}
.lang-list {
    column-count    : 4;
}
.social-list>div {margin : 0 var(--sd-pad-margin-xxs);}
.social-list>div:first-child {margin-left: 0;}
.social-list>div:last-child {margin-right: 0;}
.info-list {margin : 0 var(--sd-pad-margin-md);}
.info-list .info-item {margin : var(--sd-pad-margin-xs) 0;}
.info-list .info-item>div:first-child {
    margin-right : var(--sd-pad-margin-xs);
}
.info-list svg {
    width   : 18px;
    height  : 18px;
}
.pointer {
    cursor  : pointer;
}
.header-tag-list-container {
    display             : flex;
    flex-direction      : row;
    align-items         : center;
    justify-content     : space-between;
    background-color    : var(--color-light-3);
    padding             : var(--sd-pad-margin-xs) var(--sd-pad-margin-md);
    border-radius       : var(--sd-radius-md);
}
.header-tag-list svg{
    width       : 18px;
    height      : 18px;
    color       : #2ECC71;
    margin-top  : -0.2rem;
}
.header-tag-list-label {
    font-weight     : var(--sd-font-weight-bolder);
    margin          : 0 var(--sd-pad-margin-xxs);
}
.theme-btn {
    margin-left     : var(--sd-pad-margin-sm);
}

/*PHONE FRAME*/
.phone-frame-md {
    height: auto;
    width: 300px;
}
.phone-frame-sm {
    height: auto;
    width: 240px;
}

/*ELEMENT*/
p {
    font-size       : var(--sd-font-heading-5-5);
}

/*NAVIGATOR MOB*/
.navigator-mob {
    position            : fixed;
    width               : 100%;
    padding             : calc(var(--sd-pad-margin-sm) * 1.5) var(--sd-content-padding-sm);
    top                 : 0;
    left                : 0;
    z-index             : 10;
}
.navigator-mob:not(.reach-top) {
    box-shadow  : var(--bottom-shadow);
}
.navigator-mob-menu {
    position            : fixed;
    z-index             : 12;
    overflow            : hidden;
    display             : flex;
    flex-direction      : column;
}
.navigator-mob-menu:not(.nav-mob-active) {
    width               : 0;
}
.navigator-mob-menu.nav-mob-active {
    width               : 100%;
    height              : 100vh;
}
.navigator-mob-menu-head {
    width               : 100%;
    padding             : calc(var(--sd-pad-margin-sm) * 1.5) var(--sd-content-padding-sm);
}
.navigator-mob-menu-body {
    width               : 100%;
    padding             : calc(var(--sd-pad-margin-sm) * 1.5) var(--sd-content-padding-sm);
}
.navigator-mob-menu-list {
    display             : flex;
    flex-direction      : row;
    align-items         : center;
    margin              : var(--sd-pad-margin-sm) 0;
}
.navigator-mob-menu-list div:first-child{
    margin-right        : var(--sd-pad-margin-xs);
}
.navigator-mob-menu-list div:last-child, .navigator-mob-menu-list-item{
    font-size           : var(--sd-font-heading-5);
    font-weight         : var(--sd-font-weight-bold);
}
.navigator-mob-menu-list-block {
    padding-left        : calc(var(--sd-pad-margin-xl) * 1.3);
    overflow            : hidden;
}
.navigator-mob-menu-list-item {
    margin              : var(--sd-pad-margin-sm) 0;
}

/*LIGHT MODE SETUP*/
.landing[data-theme="light"] .dark-mode-item {
    display     : none;
}
.landing[data-theme="light"] .navigator-mob {
    color               : var(--color-dark);
    background-color    : var(--color-light);
}
.landing[data-theme="light"][data-nav-theme="transparent"] .navigator-mob.reach-top {
    color               : var(--color-light);
    background-color    : transparent;
}
.landing[data-theme="light"] .navigator-mob-menu {
    color               : var(--color-dark);
    background-color    : var(--color-light);
}
.landing[data-theme="light"] .navigator-mob-menu-head {
    background-color    : var(--color-light-3);
}
.landing[data-theme="light"] .navigator-mob-menu-list-item {
    color               : var(--color-grey-3);
}

/*DARK MODE SETUP*/
.landing[data-theme="dark"] .light-mode-item {
    display     : none;
}
.landing[data-theme="dark"] {
    background-color    : var(--color-dark);
    color               : var(--color-light);
}
.landing[data-theme="dark"] .header-tag-list-container,
.landing[data-theme="dark"] .navigator
{
    background-color    : var(--color-dark);
}
.landing[data-theme="dark"] .navigator-title-text {
    color           : var(--color-light);
}
.landing[data-theme="dark"] .navigator-content-item {
    color           : var(--color-light);
}
.landing[data-theme="dark"] .navigator-content-item:hover {
    color           : var(--color-blue-2);
}
.landing[data-theme="dark"] .nav-sub-menu {
    background-color    : rgba(23, 32, 42, 0.95);
}
.landing[data-theme="dark"] .navigator-mob.reach-top {
    color               : var(--color-light);
    background-color    : transparent;
}
.landing[data-theme="dark"] .navigator-mob:not(.reach-top) {
    color               : var(--color-light);
    background-color    : var(--color-dark);
}
.landing[data-theme="dark"] .navigator-mob-menu {
    color               : var(--color-light);
    background-color    : var(--color-dark);
}
.landing[data-theme="dark"] .navigator-mob-menu-head {
    background-color    : var(--color-dark-2);
}

.carousel-cell {
    width: 100%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

/*flickity setting*/
.flickity-viewport {overflow: visible!important;}
.flickity-button {display: none!important;}
.flickity-page-dots {display: none!important;}


@media only screen and (max-width: 767px) {
    .landing-wallpaper {
        width               : 100%;
        height              : 100%;
        background-position : center;
        background-size     : cover;
    }
    .landing-header-overlay-content {
        padding     : var(--sd-pad-margin-sm) var(--sd-content-padding-sm);
        flex-grow   : 1;
        color       : var(--color-light);
    }
    .landing-header-overlay-content h1 {
        word-break  : break-word;
        font-size   : var(--sd-font-heading-1);
    }

    .content-block {
        padding         : calc(var(--sd-pad-margin-md) * 1.5) var(--sd-content-padding-sm);
    }

    .cus-grid-4 {
        display                 : grid;
        grid-template-columns   : 1fr;
        grid-template-rows      : repeat(4, 1fr);
        grid-column-gap         : 0;
        grid-row-gap            : 0;
    }
    .cus-grid-4>div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
    .cus-grid-4>div:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }
    .cus-grid-4>div:nth-child(3) { grid-area: 3 / 1 / 4 / 2; }
    .cus-grid-4>div:nth-child(4) { grid-area: 4 / 1 / 5 / 2; }
    .cus-cards-container.cus-grid-4 .cus-card, .cus-grid-4 .cus-grid-item {
        margin          : var(--sd-pad-margin-md) 0;
    }
    .cus-cards-container.cus-grid-4 .cus-card:first-child, .cus-grid-4 .cus-grid-item:first-child {
        margin          : 0 0 var(--sd-pad-margin-md);
    }
    .cus-cards-container.cus-grid-4 .cus-card:last-child, .cus-grid-4 .cus-grid-item:last-child {
        margin          : var(--sd-pad-margin-md) 0 0;
    }

    .flex-container-2 {
        display         : flex;
        flex-direction  : column;
    }
    .flex-container-2.reverse {
        flex-direction  : column-reverse;
    }
    .flex-container-2>div:first-child, .flex-container-2.reverse>div:first-child {
        margin          : 0;
    }

    .cus-grid-6 {
        display                 : grid;
        grid-template-columns   : repeat(2, 1fr);
        grid-template-rows      : repeat(3, 1fr);
        grid-column-gap         : 0;
        grid-row-gap            : var(--sd-pad-margin-xl);
    }
    .cus-grid-6>div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
    .cus-grid-6>div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
    .cus-grid-6>div:nth-child(3) { grid-area: 2 / 1 / 3 / 2; }
    .cus-grid-6>div:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }
    .cus-grid-6>div:nth-child(5) { grid-area: 3 / 1 / 4 / 2; }
    .cus-grid-6>div:nth-child(6) { grid-area: 3 / 2 / 4 / 3; }

    .but {
        font-size: inherit;
    }

    .header-tag-list-container {
        padding-left        : 0;
        padding-right       : 0;
        flex-direction      : column;
        align-items         : start;
        justify-content     : center;
    }
    .header-tag-list-label {
        font-size: var(--sd-font-heading-5-5);
    }

    .w-60 {
        width: 100%;
    }
    .logo-partner {
        max-height  : 64px;
        max-width   : 80px;
    }
    .lang-list {
        column-count    : 2;
    }
    .social-list {
        margin-bottom   : var(--sd-pad-margin-xxl);
    }
    .info-list {
        margin          : 0;
    }
    .footer-list + .footer-list {
        margin-top      : var(--sd-pad-margin-lg);
    }
    .footer {
        min-height      : unset;
    }

    .box-card {
        width           : 100%;
        margin-left     : 5%;
        margin-right    : 5%;
    }

    .txt-right {
        text-align: left;
    }

    .pc {
        display     : none!important;
    }
}

@media only screen and (min-width: 768px ) and (max-width: 991px) {
    .pc {
        display     : none!important;
    }
}

@media only screen and (min-width: 992px ) and (max-width: 1199px) {
    .mob {
        display     : none!important;
    }
}

@media only screen and (min-width: 1200px) {
    .mob {
        display     : none!important;
    }
}