body {

}
/*
SIDEBAR CONTROL
.ds-sidebar->width
.ds-head->padding-left
.ds-body->margin-left

.ds-sidebar-overlay = 100-sidebar
*/

*::-webkit-scrollbar { width: 0 !important }

/*SIDEBAR*/
.ds-sidebar {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    height: 100vh;
    z-index: 9;
    white-space: nowrap;
    overflow-x: hidden;
    user-select: none;
    -webkit-box-shadow: 13px 0 8px -4px rgba(161,161,161,0.25);
    -moz-box-shadow: 13px 0 8px -4px rgba(161,161,161,0.25);
    box-shadow: 13px 0 8px -4px rgba(161,161,161,0.25);
}
.side-head {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: var(--ly-2);
    top: 0;
    left: 0;
    height: 48px;
    width: 100%;
    z-index: 12;
}
.side-head-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: calc(48px * 3);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.side-head-bg::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.side-head-bg img {
    position: relative;
    z-index: 13;
    width: 120px;
    height: 120px;
}
.ds-sidebar-overlay {
    top: 0;
    right: 0;
    position: fixed;
    background-color: var(--dark);
    opacity: 0.5;
    height: 100vh;
    z-index: 8;
    overflow-y: hidden;
}
.ds-side-menu, .side-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: var(--ly-6);
}
.side-footer {
    flex-grow: 1;
    justify-content: space-between;
    margin-bottom: var(--ly-8);
    margin-top: 0;
}
.side-menu {
    padding: 0 var(--ly-2);
    transition: all 300ms;
    cursor: pointer;
}
.side-menu:not(.active):hover {
    color: var(--muted);
    background-color: var(--success-thr);
    transition: all 300ms;
}
.side-menu:not(.active):active {
    color: var(--white);
    background-color: var(--success-sec);
    transition: all 300ms;
}
.side-menu.active {
    color: var(--white);
    background: rgb(40,180,99);
    background: linear-gradient(90deg, rgba(40,180,99,0.9121621621621622) 37%, rgba(40,180,99,0.34009009009009006) 82%);
}
.side-menu-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;
    padding: var(--ly-2) 0;
    border-bottom: 1px solid var(--lightgrey);
}
.side-menu-content svg{
    margin-right: var(--ly-2);
}
.side-menu[data-sidebar-autohide]:not(.active) {
    display: none!important;
}
.side-menu-content .side-label {
    line-height: 0;
    margin-top: 0.2rem;
}
.side-footer .side-menu-content:last-child {
    border-bottom: none;
}

/*HEAD & BODY*/
.ds-head {
    top: 0;
    right: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    position: sticky;
    height: 48px;
    width: 100%;
    box-shadow: var(--lightgrey) 0 5px 5px;
    user-select: none;
    z-index: 4;
}
.ds-head-right {
    display: flex;
    flex-grow: 1;
    justify-content: end;
}
.ds-body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.ds-content {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    padding: var(--ly-2);
}
.ds-side-blank {
}

/*SECTIONING*/
.section {
    position: relative;
    padding: var(--ly-2) var(--ly-2);
    width: 100%;
    min-height: 100%;
    height: 100%;
}
.doc-section {
    min-height: 100%;
}

/*R-CARD*/
.r-card {
    flex-grow: 0;
    background-color: var(--white);
    display: inline-block;
    width: 100%;
}
.r-card-header {
    text-transform: capitalize;
    padding-bottom: var(--ly-2);
    margin-bottom: var(--ly-2);
    border-bottom: 1px solid var(--lightgrey);
}
.card-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 12px;
    margin-bottom: var(--ly-4);
}
.card-slider div{
    display: inline-block;
    width: 64px;
    height: 3px;
    background-color: var(--dark-sec);
}
.card-slider:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 120px;
}

/*R-ITEM-CARD*/
.r-item-card {
    display         : inline-block;
    padding         : var(--ly-2);
    position        : relative;
    z-index         : 3;
    width           : 126px;
    height          : 130px;
    border-radius   : var(--bor-radius-lg);
    color           : var(--dark);
    border          : 1px solid var(--lightgrey);
}
.r-item-card .r-item-body {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    height          : 100%;
}
.r-item-card .r-item-icon svg {
    width: 32px;
    height: 32px;
    color: var(--muted);
}
.r-item-card .r-item-title {
    padding-top: var(--ly-2);
    font-weight: 600;
}
.r-item-card .r-item-foot {
    font-size: var(--fn-size-10);
    font-weight: 600;
}
.r-item-card.active {
    color           : var(--white);
    background-image: linear-gradient( 135deg, var(--success) 10%, var(--success-sec) 100%);
    border          : none;
}
.r-item-card.active svg {
    color           : var(--white);
}

/*CONTENT-ADDITION*/
.content-close {
    position: relative;
    z-index: 2;
}
.content-container {
    position: relative;
    margin: var(--ly-9) 0;
    padding: var(--ly-9) 0;
}
.content-loader {

}

/*R-LIST-CARD*/
.r-list-container>.r-list:not(.r-list:last-child) {
    border-bottom: solid 1px var(--lightgrey);
}
.r-list-container:not(.active) .r-list>div:first-child input{
    opacity: 0;
}
.r-list {
    display: grid;
    padding: var(--ly-2) 0;
    min-height: 72px;
    grid-template-columns: 0fr 4fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}
.r-list.on-select {
    background-color: var(--success-thr);
    grid-template-columns: 1fr 4fr 5fr;
}
.r-list.r-list-none {
    grid-template-columns: 0fr 9fr 0fr;
}
.r-list.r-list-none.on-select {
    grid-template-columns: 1fr 9fr 0fr;
}
.r-list.r-list-single {
    grid-template-columns: 0fr 8fr 1fr;
}
.r-list.r-list-single.on-select {
    grid-template-columns: 1fr 8fr 1fr;
}
.r-list.r-list-double {
    grid-template-columns: 0fr 6fr 3fr;
}
.r-list.r-list-double.on-select {
    grid-template-columns: 1fr 6fr 3fr;
}
.r-list-traffic-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}
.r-list-traffic-grid>span {
    display: flex;
    align-items: center;
}
.r-list-traffic-grid>span:first-child {
    grid-area: 1 / 1 / 2 / 4;
}
.r-list-traffic-grid>span:nth-child(2) {
    grid-area: 1 / 4 / 2 / 5;
}
.r-list-traffic-grid>span:last-child {
    grid-area: 1 / 5 / 2 / 8;
}
.r-list>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.r-list>div:first-child { grid-area: 1 / 1 / 2 / 2; }
.r-list>div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.r-list>div:last-child {
    grid-area: 1 / 3 / 2 / 4;
    align-items: end;
}
.r-list>div:last-child>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.r-list>div:last-child svg {
    width: 24px;
    height: 24px;
}
.r-list>div:last-child span {
    line-height: 0;
}

/*DASHBOARD DIAGRAM*/
.dashboard-diagram {
    height: 360px;
}

/*QR-CONTAINER*/
.qr-template {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
}

/*R-DATA ROW*/
.r-data {
    display: grid;
    grid-template-columns: 8fr repeat(2, 0.25fr);
    grid-template-rows: 100%;
    grid-column-gap: 0;
    grid-row-gap: 0;
}
.r-data-prim {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
    grid-area: 1 / 1 / 2 / 2;
}
.r-data-detail-mob {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.r-data-info {
    white-space: normal;
}
.r-info-value {
    white-space: nowrap;
}
.r-data-detail {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: var(--ly-4);
}
.r-data-detail div:first-child {
    margin-right: var(--ly-2);
}
.r-data-qr {
    display: flex;
    align-items: center;
    justify-content: end;
    grid-area: 1 / 3 / 2 / 4;
}

/*FORM*/
.r-form {
    max-width: 420px;
}

/*CAMERA*/
.camera-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.camera-rtc {
    position: fixed;
    background-color: var(--dark);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

@media (max-width: 575px){
    .pc {
        display: none!important;
    }
    .section:not(.keep-pad) {
        padding: 0;
    }
    .section.keep-pad-y {
        padding-left: 0;
        padding-right: 0;
    }
    .r-card-header {
        border-bottom: none;
    }
    .r-data {
        grid-template-columns: 4fr repeat(2, 0.5fr);
    }
    .r-data-prim, .r-data-info {
        display: block;
    }
    .r-data-qr {
        width: 100%;
    }
    .mob-min {
        min-width: 94vw;
    }
    .ds-head {
        background-color: var(--light);
        box-shadow: unset;
        overflow-y: visible;
    }
    .ds-head.transparent {
        background-color: transparent;
    }
    .ds-head-bg {
        background-color: var(--white);
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .ds-head>div:not(.ds-head-bg) {
        position: relative;
        z-index: 2;
    }
    .ds-body {
        user-select: none;
    }
    .ds-content {
        padding: 0;
    }
    .ds-sidebar-overlay {
        width: 0!important;
    }
    .ds-side-menu, .side-footer {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .side-menu {
        padding: var(--ly-1) var(--ly-3);
        border-radius: var(--bor-radius-md);
    }
    .side-menu-content {
        border-bottom: none;
    }
    .section.mob-section {
        padding-bottom: 0;
    }
    .mob-modal-card {
        min-height: 80vh;
        position: absolute;
        z-index: 3;
        top: 0;
        margin-bottom: 0!important;
        border-radius: var(--bor-radius-xxl) var(--bor-radius-xxl) 0 0;
        -webkit-box-shadow: 0 -15px 15px -5px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 -15px 15px -5px rgba(0,0,0,0.2);
        box-shadow: 0 -15px 15px -5px rgba(0,0,0,0.2);
    }
    .mob-modal-card.full {
        min-height: 100vh!important;
    }
    .mob-modal-card.extra {
        min-height: 110vh!important;
    }
    .setting-btn[data-tab-active] {
        border-bottom-left-radius: var(--bor-radius-xl);
        border-bottom-right-radius: var(--bor-radius-xl);
        -webkit-box-shadow: 0 15px 15px -5px var(--lightgrey);
        -moz-box-shadow: 0 15px 15px -5px var(--lightgrey);
        box-shadow: 0 15px 15px -5px var(--lightgrey);
    }
    .hide-overflow{
        overflow: hidden;
    }
    .hide-overflow-x {
        overflow-x: hidden;
    }
    .doc-modal-control {
        position: sticky;
        bottom: 0;
        z-index: 90;
    }
    .qr-card {
        top: 10px;
    }
    .card-overlay {
        bottom: -60vh;
        display: inline-block;
        position: fixed;
        background-color: var(--white);
        width: 100%;
        height: 100vh;
    }
    .map-container {
        height: 100%
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .pc {
        display: none!important;
    }
    .section:not(.keep-pad) {
        padding: 0;
    }
    .section.keep-pad-y {
        padding-left: 0;
        padding-right: 0;
    }
    .r-card-header {
        border-bottom: none;
    }
    .r-data {
        grid-template-columns: 4fr repeat(2, 0.5fr);
    }
    .r-data-prim, .r-data-info {
        display: block;
    }
    .r-data-qr {
        width: 42px;
    }
    .ds-head.transparent {
        background-color: transparent;
    }
    .mob-min {
        min-width: 80vw;
    }
    .ds-body {
        user-select: none;
    }
    .ds-content {
        padding-bottom: 0;
    }
    .section.mob-section {
        padding-bottom: 0;
    }
    .mob-modal-card {
        min-height: 100vh;
        position: absolute;
        top: 0;
        margin-bottom: 0!important;
        border-top-left-radius: var(--bor-radius-xxl);
        border-top-right-radius: var(--bor-radius-xxl);
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .mob {
        display: none!important;
    }
    .r-data {
        grid-template-columns: 6fr repeat(2, 0.5fr);
    }
    .ds-sidebar-overlay {
        display: none;
    }
    .qr-template {
        width: 60%;
    }
    .mob-min {
        min-width: unset;
    }
    .doc-modal-control {
        position: absolute;
        padding-right: var(--ly-4);
        width: 100%;
        top: 0;
    }
    .doc-modal-control.active, .doc-modal-control.active .qr-template {
        height: 100%;
    }
    .qr-card {
        height: 99%;
    }
    .detail-card-content {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .mob {
        display: none!important;
    }
    .ds-sidebar-overlay {
        display: none;
    }
    .qr-template {
        width: 50%;
    }
    .mob-min {
        min-width: unset;
    }
    .doc-modal-control {
        position: absolute;
        padding-right: var(--ly-4);
        width: 100%;
        top: 0;
    }
    .doc-modal-control.active, .doc-modal-control.active .qr-template {
        height: 100%;
    }
    .qr-card {
        height: 99%;
    }
    .detail-card-content {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1200px) and (max-width: 1399px){
    .mob {
        display: none!important;
    }
    .ds-sidebar-overlay {
        display: none;
    }
    .qr-template {
        width: 40%;
    }
    .mob-min {
        min-width: unset;
    }
    .doc-modal-control {
        position: absolute;
        padding-right: var(--ly-4);
        width: 100%;
        top: 0;
    }
    .doc-modal-control.active, .doc-modal-control.active .qr-template {
        height: 100%;
    }
    .qr-card {
        height: 99%;
    }
    .detail-card-content {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1400px){
    .mob {
        display: none!important;
    }
    .ds-sidebar-overlay {
        display: none;
    }
    .qr-template {
        width: 30%;
    }
    .mob-min {
        min-width: unset;
    }
    .doc-modal-control {
        position: absolute;
        padding-right: var(--ly-4);
        width: 100%;
        top: 0;
    }
    .doc-modal-control.active, .doc-modal-control.active .qr-template {
        height: 100%;
    }
    .qr-card {
        height: 99%;
    }
    .detail-card-content {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}