/*section*/
.section:not(.header) {
    position        : relative;
    width           : 100%;
    min-height      : 100vh;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
}

/*header*/
.header {
    position        : relative;
    overflow        : hidden;
    height          : 100vh;
    width           : 100vw;
}
.header-content-items {
    position        : relative;
    margin          : 0 auto;
}
.header-content-items>div {
    position: relative;
}
.header-mob-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-bottom-left-radius: 50%;
    -webkit-box-shadow: inset 18px -19px 53px -30px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 18px -19px 53px -30px rgba(0,0,0,0.5);
    box-shadow: inset 18px -19px 53px -30px rgba(0,0,0,0.5);
}
.header-mob-bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--success);
    opacity: 0.3;
    border-bottom-left-radius: 50%;
}
.header-mob-bg-logo {
    position: relative;
    z-index: 6;
    width: 160px;
    height: 160px;
}
.mob-logo-sec {
    margin-top: -4rem;
    display: inline-block;
    width: 120px;
    height: 120px;
    opacity: 0.35;
    margin-bottom: var(--ly-8);
    cursor: pointer;
}

/*MOBILE MENU*/
.mob-menu {
    display: none;
}
.header .mob-menu .mob-menu-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.header .mob-menu-content .but {

}
.mob-footer {
    position: absolute;
    bottom: 0;
    background-color: var(--light);
    padding: var(--ly-5);
    padding-bottom: var(--ly-9);
    border-radius: var(--bor-radius-xxl) var(--bor-radius-xxl) 0 0;
}

/*CARD*/
.r-card {
    display: flex;
    flex-direction: row;
    width: 82.5%;
    height: 600px;
}
.r-card .left-card {
    position: relative;
    width: 35%;
}
.r-card .right-card {
    flex-grow: 1;
}
.left-card .side-bkg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.left-card .side-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
}
.left-card .side-content {
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 3;
}
.side-content div {
    position: relative;
    z-index: 5;
}
.side-logo-ctr {
    position: absolute;
    z-index: 4;
}
.side-logo-ctr div {
    width: 72px;
    height: 72px;
    cursor: pointer;
}

/*FORM*/
.r-form {
    max-width: 420px;
}

/*SCREEN SIZE*/
@media (max-width: 575px){
    .header-content {
        height          : 45vh;
        position        : absolute;
        width           : 100%;
        bottom          : 0;
    }
    .header-content-items {
        width: 85%;
    }
    .r-card .left-card {
        display: none;
    }
    .r-card {
        width: 100%;
        flex-grow: 1;
        border: none;
    }
    .wpc-55 {
        width: 92%!important;
    }
    .header-login {
        border-radius: var(--bor-radius-xl)!important;
    }
    .pc {
        display: none!important;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .header-content {
        height          : 45vh;
        position        : absolute;
        width           : 100%;
        bottom          : 0;
    }
    .header-content-items {
        width: 75%;
    }
    .header-login {
        border-radius: var(--bor-radius-xl)!important;
    }
    .r-card .left-card {
        display: none;
    }
    .r-card {
        width: 100%;
        flex-grow: 1;
        border: none;
    }
    .pc {
        display: none!important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .header {
        position        : relative;
    }
    .header-logo {
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }
    .header-content {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .header-content-items {
        width: 45%;
        padding: var(--ly-6) 0;
        justify-content: center;
    }
    .header-title {
        color: var(--success);
        text-align: center;
    }
    .header-login {
        margin: var(--ly-4) auto 0;
    }
    .landing-pc-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .r-card .left-card {
        display: none;
    }
    .r-card {
        width: 100%;
        flex-grow: 1;
        border: none;
    }
    .mob {display: none;!important;}
}
@media (min-width: 992px) and (max-width: 1199px){
    .header {
        position        : relative;
    }
    .header-logo {
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }
    .header-content {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .header-content-items {
        width: 40%;
        padding: var(--ly-6) 0;
        justify-content: center;
    }
    .header-title {
        color: var(--success);
        text-align: center;
    }
    .header-login {
        margin: var(--ly-4) auto 0;
    }
    .landing-pc-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .r-card {width: 70%;}
    .mob {display: none;!important;}
}
@media (min-width: 1200px) and (max-width: 1399px){
    .header {
        position        : relative;
    }
    .header-logo {
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }
    .header-content {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .header-content-items {
        width: 35%;
        padding: var(--ly-6) 0;
        justify-content: center;
    }
    .header-title {
        color: var(--success);
        text-align: center;
    }
    .header-login {
        margin: var(--ly-4) auto 0;
    }
    .landing-pc-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .r-card {width: 65%;}
    .mob {display: none;!important;}
}
@media (min-width: 1400px){
    .header {
        position        : relative;
    }
    .header-logo {
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }
    .header-content {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .header-content-items {
        width: 35%;
        padding: var(--ly-6) 0;
        justify-content: center;
    }
    .header-title {
        color: var(--success);
        text-align: center;
    }
    .header-login {
        margin: var(--ly-4) auto 0;
    }
    .landing-pc-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .r-card {width: 65%;}
    .mob {display: none;!important;}
}