:root {
    --info              : #1457F4;
    --success           : #28B463;
    --warning           : #F1C40F;
    --danger            : #E74C3C;
    --dark              : #273746;
    --muted             : #ABB2B9;
    --lightgrey         : #D5D8DC;
    --light             : #F4F4F4;
    --white             : #FFFFFF;
    --info-sec          : rgb(132, 169, 255);
    --success-sec       : rgb(104, 247, 164);
    --warning-sec       : rgb(255, 228, 119);
    --danger-sec        : rgb(255, 132, 119);
    --dark-sec          : rgb(140, 165, 190);
    --muted-sec         : rgb(230, 238, 245);
    --lightgrey-sec     : rgb(255, 255, 255);
    --info-thr          : rgba(132, 169, 255, 0.15);
    --success-thr       : rgba(104, 247, 164, 0.15);
    --warning-thr       : rgba(255, 228, 119, 0.15);
    --danger-thr        : rgba(255, 132, 119, 0.15);
    --dark-thr          : rgba(140, 165, 190, 0.15);
    --muted-thr         : rgba(230, 238, 245, 0.15);
    --lightgrey-thr     : rgba(255, 255, 255, 0.15);
    --ly-0              : 0;
    --ly-1              : 0.35rem;
    --ly-2              : 0.7rem;
    --ly-3              : 0.95rem;
    --ly-4              : 1.3rem;
    --ly-5              : 1.55rem;
    --ly-6              : 1.9rem;
    --ly-7              : 2.5rem;
    --ly-8              : 2.6rem;
    --ly-9              : 2.95rem;
    --bor-radius        : 3px;
    --bor-radius-md     : 5px;
    --bor-radius-lg     : 7px;
    --bor-radius-xl     : 18px;
    --bor-radius-xxl    : 24px;
    --fn-size-8         : 8pt;
    --fn-size-9         : 9pt;
    --fn-size-10        : 10pt;
    --fn-size-10-5      : 10.5pt;
    --fn-size-11        : 11pt;
    --fn-size-11-5      : 11.5pt;
    --fn-size-12        : 12pt;
    --fn-size-14        : 14pt;
    --fn-size-16        : 16pt;
    --fn-size-18        : 18pt;
    --fn-size-20        : 20pt;
    --fn-size-24        : 24pt;
    --fn-size-28        : 28pt;
    --fn-size-32        : 32pt;
}
* {
    font-family: 'Montserrat', sans-serif;
}
body {
    padding     : 0;
    margin      : 0;
    font-size   : 11.5pt;
}

/*HEADING*/
h1 {
    font-size: 32pt;
    font-weight: 800;
}
h2 {
    font-size: 28pt;
    font-weight: 700;
}
h3 {
    font-size: 24pt;
    font-weight: 700;
}
h4 {
    font-size: 20pt;
    font-weight: 700;
}
h5 {
    font-size: 16pt;
    font-weight: 700;
}

/*FONT WEIGHT*/
.fnw-100 {
    font-weight: 100;
}
.fnw-200 {
    font-weight: 200;
}
.fnw-300 {
    font-weight: 300;
}
.fnw-400 {
    font-weight: 400;
}
.fnw-500 {
    font-weight: 500;
}
.fnw-600 {
    font-weight: 600;
}
.fnw-700 {
    font-weight: 700;
}
.fnw-800 {
    font-weight: 800;
}
.fnw-900 {
    font-weight: 900;
}

/*FONT-SIZE*/
.fns-8 {font-size: var(--fn-size-8);}
.fns-9 {font-size: var(--fn-size-9);}
.fns-10 {font-size: var(--fn-size-10);}
.fns-10-5 {font-size: var(--fn-size-10-5);}
.fns-11 {font-size: var(--fn-size-11);}
.fns-10-5 {font-size: var(--fn-size-11-5);}
.fns-12 {font-size: var(--fn-size-12);}
.fns-14 {font-size: var(--fn-size-14);}
.fns-16 {font-size: var(--fn-size-16);}
.fns-18 {font-size: var(--fn-size-18);}
.fns-20 {font-size: var(--fn-size-20);}
.fns-24 {font-size: var(--fn-size-24);}
.fns-28 {font-size: var(--fn-size-28);}
.fns-32 {font-size: var(--fn-size-32);}

/*BACKGROUND-COLOR*/
.bkg-info {background-color: var(--info);}
.bkg-success {background-color: var(--success);}
.bkg-warning {background-color: var(--warning);}
.bkg-danger {background-color: var(--danger);}
.bkg-dark {background-color: var(--dark);}
.bkg-muted {background-color: var(--muted);}
.bkg-light {background-color: var(--light);}
.bkg-lightgrey {background-color: var(--lightgrey);}
.bkg-white {background-color: var(--white);}

/*BORDER-COLOR*/
.bor-info {border: var(--info) solid 1px;}
.bor-success {border: var(--success) solid 1px;}
.bor-warning {border: var(--warning) solid 1px;}
.bor-danger {border: var(--danger) solid 1px;}
.bor-dark {border: var(--dark) solid 1px;}
.bor-muted {border: var(--muted) solid 1px;}
.bor-light {border: var(--light) solid 1px;}
.bor-lightgrey {border: var(--lightgrey) solid 1px;}
.bor-white {border: var(--white) solid 1px;}
.bor-top-info {border-top: var(--info) solid 1px;}
.bor-top-success {border-top: var(--success) solid 1px;}
.bor-top-warning {border-top: var(--warning) solid 1px;}
.bor-top-danger {border-top: var(--danger) solid 1px;}
.bor-top-dark {border-top: var(--dark) solid 1px;}
.bor-top-muted {border-top: var(--muted) solid 1px;}
.bor-top-light {border-top: var(--light) solid 1px;}
.bor-top-lightgrey {border-top: var(--lightgrey) solid 1px;}
.bor-top-white {border-top: var(--white) solid 1px;}
.bor-left-info {border-left: var(--info) solid 1px;}
.bor-left-success {border-left: var(--success) solid 1px;}
.bor-left-warning {border-left: var(--warning) solid 1px;}
.bor-left-danger {border-left: var(--danger) solid 1px;}
.bor-left-dark {border-left: var(--dark) solid 1px;}
.bor-left-muted {border-left: var(--muted) solid 1px;}
.bor-left-light {border-left: var(--light) solid 1px;}
.bor-left-lightgrey {border-left: var(--lightgrey) solid 1px;}
.bor-left-white {border-left: var(--white) solid 1px;}
.bor-bottom-info {border-bottom: var(--info) solid 1px;}
.bor-bottom-success {border-bottom: var(--success) solid 1px;}
.bor-bottom-warning {border-bottom: var(--warning) solid 1px;}
.bor-bottom-danger {border-bottom: var(--danger) solid 1px;}
.bor-bottom-dark {border-bottom: var(--dark) solid 1px;}
.bor-bottom-muted {border-bottom: var(--muted) solid 1px;}
.bor-bottom-light {border-bottom: var(--light) solid 1px;}
.bor-bottom-lightgrey {border-bottom: var(--lightgrey) solid 1px;}
.bor-bottom-white {border-bottom: var(--white) solid 1px;}
.bor-right-info {border-right: var(--info) solid 1px;}
.bor-right-success {border-right: var(--success) solid 1px;}
.bor-right-warning {border-right: var(--warning) solid 1px;}
.bor-right-danger {border-right: var(--danger) solid 1px;}
.bor-right-dark {border-right: var(--dark) solid 1px;}
.bor-right-muted {border-right: var(--muted) solid 1px;}
.bor-right-light {border-right: var(--light) solid 1px;}
.bor-right-lightgrey {border-right: var(--lightgrey) solid 1px;}
.bor-right-white {border-right: var(--white) solid 1px;}

/*MODAL*/
.modal-overlay {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.35);
    z-index: 100;
    width: 100vw;
    height: 100vh;
}
.ds-modal {
    border-radius: var(--bor-radius-md);
    padding: var(--ly-2);
    border: solid 1px var(--lightgrey);
    background-color: var(--white);
}
.ds-modal-bg {
    max-width: 300px;
    border-radius: var(--bor-radius-lg);
    padding: var(--ly-4);
}
.ds-modal-info {
    background-color: var(--info);
    border: solid 1px var(--info-thr);
}
.ds-modal-success {
    background-color: var(--success);
    border: solid 1px var(--success-thr);
}
.ds-modal-warning {
    background-color: var(--warning);
    border: solid 1px var(--warning-thr);
}
.ds-modal-danger {
    background-color: var(--danger);
    border: solid 1px var(--danger-thr);
}
.ds-modal-dark {
    background-color: var(--dark);
    border: solid 1px var(--dark-thr);
}
.ds-modal-muted {
    background-color: var(--muted);
    border: solid 1px var(--muted-thr);
}
.ds-modal-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ds-modal-option>div.ds-modal-head{
    width: 100%;
    padding: var(--ly-2) var(--ly-7) 0;
}
.ds-modal-option>div:not(.ds-modal-head) {
    width: 100%;
    padding: var(--ly-2) var(--ly-7);
    border-bottom: solid 1px var(--lightgrey);
}
.ds-modal-option>div:last-child {
    border-bottom: none!important;
}
.hide-modal, .hide-modal-overlay {
    display: none!important;
}

/*BUTTON*/
.but {
    border-radius: var(--bor-radius);
    transition: 200ms;
    cursor: pointer;
    user-select: none;
    text-align: center;
}
.but.disabled {
    opacity: 0.65!important;
    cursor: unset;
}
.but:not(.but-info, .but-success, .but-warning, .but-danger, .but-muted, .but-lightgrey, .but-light, .but-white, .disabled) {
    opacity: 1;
}
.but:not(.but-info, .but-success, .but-warning, .but-danger, .but-muted, .but-lightgrey, .but-light, .but-white, .disabled):hover {
    color: var(--dark);
    opacity: 0.5;
}
.but:not(.but-info, .but-success, .but-warning, .but-danger, .but-muted, .but-lightgrey, .but-light, .but-white, .disabled):active {
    color: var(--dark);
    opacity: 0.75;
}
.but-lg {
    padding: 12px 20px;
}
.but-sm {
    font-size: 11.5pt;
    padding: 8px 16px;
}
.but-grow {
    width: 100%;
}
.but:not(.disabled, [disabled]):hover {
    background-color: transparent;
}
.but:not(.disabled, [disabled]):active {
    outline: none;
}
.but-info {
    background-color: var(--info);
    border: 2px solid var(--info);
    color: #fff;
}
.but-info:not(.disabled, [disabled]):hover {
    border: 2px solid var(--info);
    color: var(--info);
}
.but-info:not(.disabled, [disabled]):active {
    box-shadow: 0 0 0 5px rgba(20, 87, 244, 0.37), 0 0 0 10px rgba(20, 87, 244, 0.38);
}
.but-success {
    background-color: var(--success);
    border: 2px solid var(--success);
    color: #fff;
}
.but-success:not(.disabled, [disabled]):hover {
    border: 2px solid var(--success);
    color: var(--success);
}
.but-success:not(.disabled, [disabled]):active {
    box-shadow: 0 0 0 5px rgba(40, 180, 99, 0.37), 0 0 0 10px rgba(40, 180, 99, 0.38);
}
.but-warning {
    background-color: var(--warning);
    border: 2px solid var(--warning);
    color: #fff;
}
.but-warning:not(.disabled, [disabled]):hover {
    border: 2px solid var(--warning);
    color: var(--warning);
}
.but-warning:not(.disabled, [disabled]):active {
    box-shadow: 0 0 0 5px rgba(241, 196, 15, 0.37), 0 0 0 10px rgba(241, 196, 15, 0.38);
}
.but-danger {
    background-color: var(--danger);
    border: 2px solid var(--danger);
    color: #fff;
}
.but-danger:not(.disabled, [disabled]):hover {
    border: 2px solid var(--danger);
    color: var(--danger);
}
.but-danger:not(.disabled, [disabled]):active {
    box-shadow: 0 0 0 5px rgba(231, 76, 60, 0.37), 0 0 0 10px rgba(231, 76, 60, 0.38);
}
.but-dark {
    background-color: var(--dark);
    border: 2px solid var(--dark);
    color: #fff;
}
.but-dark:not(.disabled, [disabled]):hover {
    border: 2px solid var(--dark);
    color: var(--dark);
}
.but-dark:not(.disabled, [disabled]):active {
    box-shadow: 0 0 0 5px rgba(39, 55, 70, 0.37), 0 0 0 10px rgba(39, 55, 70, 0.38);
}
.but-muted {
    background-color: var(--muted);
    border: 2px solid var(--muted);
    color: var(--dark);
}
.but-muted:not(.disabled, [disabled]):hover {
    border: 2px solid var(--muted);
    color: var(--muted);
}
.but-muted:not(.disabled, [disabled]):active {
    box-shadow: 0 0 0 5px rgba(171, 178, 185, 0.37), 0 0 0 10px rgba(171, 178, 185, 0.38);
}
.but-lightgrey {
    background-color: var(--lightgrey);
    border: 2px solid var(--lightgrey);
    color: var(--dark);
}
.but-lightgrey:not(.disabled, [disabled]):hover {
    border: 2px solid var(--lightgrey);
    color: var(--lightgrey);
}
.but-lightgrey:not(.disabled, [disabled]):active {
    box-shadow: 0 0 0 5px rgba(213, 216, 220, 0.37), 0 0 0 10px rgba(213, 216, 220, 0.38);
}
.but-light {
    background-color: var(--light);
    border: 2px solid var(--light);
    color: var(--dark);
}
.but-light:not(.disabled, [disabled]):hover {
    border: 2px solid var(--light);
    color: var(--light);
}
.but-light:not(.disabled, [disabled]):active {
    box-shadow: 0 0 0 5px rgba(248, 249, 249, 0.37), 0 0 0 10px rgba(248, 249, 249, 0.38);
}
.but-white {
    background-color: var(--white);
    border: 2px solid var(--white);
    color: var(--dark);
}
.but-white:not(.disabled, [disabled]):hover {
    border: 2px solid var(--white);
    color: var(--white);
}
.but-white:not(.disabled, [disabled]):active, .but-outline-white:not(.disabled):active {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.37), 0 0 0 10px rgba(255, 255, 255, 0.38);
}
.but-outline-white {
    border: 2px solid var(--white);
    color: var(--white);
}
.but-outline-white:not(.disabled, [disabled]):hover {
    background-color: var(--white);
    border: 2px solid var(--white);
    color: var(--dark);
}

/*FLEX-INPUT-LAYOUT*/
.flex-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.flex-input div {
    flex-grow: 1;
    margin-bottom: var(--ly-2);
}
.flex-input div:last-child{
    margin-bottom: 0!important;
}

/*INPUT-TEXT*/
.group {
    display: flex;
    align-items: center;
    position: relative;
}
.group-grow {
    width: 100%;
}
.group .input {
    width: 100%;
    border: 2px solid transparent;
    outline: none;
    background-color: var(--light);
    color: #0d0c22;
    transition: .3s ease;
}
.group .input[disabled] {
    background-color: var(--lightgrey-sec);
    color: #B9B9B9;
}
.group .input::placeholder {
    color: #9e9ea7;
}
.group .icon {
    position: absolute;
    color: #9e9ea7;
}
.group-sm .input {
    height: 40px;
    padding: 0 1rem 0 2.5rem;
    font-size: 11.5pt;
    border-radius: var(--bor-radius-md);
}
.group-sm .input::placeholder {
    font-size: 11.5pt;
    color: #9e9ea7;
}
.group-sm .icon {
    width: 1rem;
    height: 1rem;
    left: 1rem;
}
.group-lg .input {
    height: 60px;
    padding: 0 1.4rem 0 2.9rem;
    border-radius: var(--bor-radius-md);
}
.group-lg .icon {
    width: 1.4rem;
    height: 1.4rem;
    left: 1.4rem;
}
.group-info .input:focus, .group-info .input:hover {
    outline: none;
    border-color: rgba(20, 87, 244,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(20 87 244 / 10%);
}
.group-success .input:focus, .group-success .input:hover {
    outline: none;
    border-color: rgba(40, 180, 99,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(40 180 99 / 10%);
}
.group-warning .input:focus, .group-warning .input:hover {
    outline: none;
    border-color: rgba(241, 196, 15,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(241 196 15 / 10%);
}
.group-danger .input:focus, .group-danger .input:hover {
    outline: none;
    border-color: rgba(231, 76, 60,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(231 76 60 / 10%);
}
.group-dark .input:focus, .group-dark .input:hover {
    outline: none;
    border-color: rgba(39, 55, 70,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(39 55 70 / 10%);
}
.group-muted .input:focus, .group-muted .input:hover {
    outline: none;
    border-color: rgba(171, 178, 185,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(171 178 185 / 10%);
}
.group-lightgrey .input:focus, .group-lightgrey .input:hover {
    outline: none;
    border-color: rgba(213, 216, 220,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(213 216 220 / 10%);
}
.group-light .input:focus, .group-light .input:hover {
    outline: none;
    border-color: rgba(244, 244, 244,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(244 244 244 / 10%);
}
.group-white .input:focus, .group-white .input:hover {
    outline: none;
    border-color: rgba(255, 255, 255,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(255 255 255 / 10%);
}
.error .input {
    background-color: var(--danger-thr)!important;
}
.error .input:focus, .error .input:hover {
    background-color: var(--danger-thr);
}

/*INPUT-CHECKBOX*/
.group-checkbox {
    display: flex;
    align-items: center;
}
.group-checkbox input[type="checkbox"] {
    flex-grow: 0;
    display: inline-block;
    appearance: none;
    position: relative;
    background-color: var(--light);
    border-radius: 15%;
    cursor: pointer;
    overflow: hidden;
}
.group-checkbox input[type="checkbox"]::after {
    content: '';
    display: block;
    opacity: 0;
    transform: rotate(45deg) translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 21%;
    transition: .25s ease;
}
.group-checkbox input[type="checkbox"]::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-radius: 50%;
    opacity: .5;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .3s ease;
}
.group-checkbox input[type="checkbox"]:checked::before {
    height: 130%;
    width: 130%;
    opacity: 100%;
}
.group-checkbox input[type="checkbox"]:checked::after {
    opacity: 100%;
}
.group-checkbox-sm  input[type="checkbox"] {
    height: 24px;
    width: 24px;
    margin-right: 5px;
}
.group-checkbox-sm input[type="checkbox"]::after {
    height: 0.8rem;
    width: .35rem;
    border-bottom: .21rem solid;
    border-right: .21rem solid;
}
.group-checkbox-info input[type="checkbox"]::after {
    border-bottom-color: var(--info-sec);
    border-right-color: var(--info-sec);
}
.group-checkbox-info input[type="checkbox"]::before {
    background-color: var(--info);
}
.group-checkbox-success input[type="checkbox"]::after {
    border-bottom-color: var(--success-sec);
    border-right-color: var(--success-sec);
}
.group-checkbox-success input[type="checkbox"]::before {
    background-color: var(--success);
}
.group-checkbox-warning input[type="checkbox"]::after {
    border-bottom-color: var(--warning-sec);
    border-right-color: var(--warning-sec);
}
.group-checkbox-warning input[type="checkbox"]::before {
    background-color: var(--warning);
}
.group-checkbox-danger input[type="checkbox"]::after {
    border-bottom-color: var(--danger-sec);
    border-right-color: var(--danger-sec);
}
.group-checkbox-danger input[type="checkbox"]::before {
    background-color: var(--danger);
}
.group-checkbox-dark input[type="checkbox"]::after {
    border-bottom-color: var(--dark-sec);
    border-right-color: var(--dark-sec);
}
.group-checkbox-dark input[type="checkbox"]::before {
    background-color: var(--dark);
}
.group-checkbox-muted input[type="checkbox"]::after {
    border-bottom-color: var(--muted-sec);
    border-right-color: var(--muted-sec);
}
.group-checkbox-muted input[type="checkbox"]::before {
    background-color: var(--muted);
}
.group-checkbox-lightgrey input[type="checkbox"]::after {
    border-bottom-color: var(--lightgrey-sec);
    border-right-color: var(--lightgrey-sec);
}
.group-checkbox-lightgrey input[type="checkbox"]::before {
    background-color: var(--lightgrey);
}

/*INPUT-SELECT*/
select {
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    color: #0d0c22;
    background-color: var(--light);
    background-image: none;
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}
.group-select {
    position: relative;
    display: flex;
    overflow: hidden;
}
.group-select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    transition: .25s all ease;
    pointer-events: none;
}
.group-select.disabled::after{
    opacity: 0.5;
}
.group-select.disabled:hover::after{
    opacity: 0.5;
}
.group-select-sm select {
    padding: 0 1em;
}
.group-select-sm {
    height: 2.6rem;
    border-radius: var(--bor-radius-md);
}
.group-select-sm::after {
    font-size: var(--fn-size-8);
    padding: 0.76rem 0.6rem;
}
.group-select-info::after {
    background-color: transparent;
    color: var(--info);
}
.group-select-info:hover::after {
    background-color: var(--info);
    color: var(--info-sec);
}
.group-select-success::after {
    background-color: transparent;
    color: var(--success);
}
.group-select-success:hover::after {
    background-color: var(--success);
    color: var(--success-sec);
}
.group-select-warning::after {
    background-color: transparent;
    color: var(--warning);
}
.group-select-warning:hover::after {
    background-color: var(--warning);
    color: var(--warning-sec);
}
.group-select-danger::after {
    background-color: transparent;
    color: var(--danger);
}
.group-select-danger:hover::after {
    background-color: var(--danger);
    color: var(--danger-sec);
}
.group-select-dark::after {
    background-color: transparent;
    color: var(--dark);
}
.group-select-dark:hover::after {
    background-color: var(--dark);
    color: var(--dark-sec);
}
.group-select-muted::after {
    background-color: transparent;
    color: var(--muted);
}
.group-select-muted:hover::after {
    background-color: var(--muted);
    color: var(--muted-sec);
}
.group-select-lightgrey::after {
    background-color: transparent;
    color: var(--lightgrey);
}
.group-select-lightgrey:hover::after {
    background-color: var(--lightgrey);
    color: var(--lightgrey-sec);
}
.group-select-info.disabled:hover::after {
    background-color: var(--light);
    color: var(--info)!important;
}
.group-select-success.disabled:hover::after {
    background-color: var(--light);
    color: var(--success)!important;
}
.group-select-warning.disabled:hover::after {
    background-color: var(--light);
    color: var(--warning)!important;
}
.group-select-danger.disabled:hover::after {
    background-color: var(--light);
    color: var(--danger)!important;
}
.group-select-dark.disabled:hover::after {
    background-color: var(--light);
    color: var(--dark)!important;
}
.group-select-muted.disabled:hover::after {
    background-color: var(--light);
    color: var(--muted)!important;
}
.group-select-lightgrey.disabled:hover::after {
    background-color: var(--light);
    color: var(--lightgrey)!important;
}

/*INPUT-TEXTAREA*/
.group-text-area {
    width: 100%;
}
.group-text-area textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    background-color: var(--light);
    color: #0d0c22;
    border: 2px solid transparent;
    outline: none;
    transition: .3s ease;
}
.group-text-area textarea::placeholder {
    color: #9e9ea7;
}
.group-text-area-sm {
    border-radius: var(--bor-radius-md);
}
.group-text-area-sm textarea {
    padding: 0.5rem 1rem;
    font-size: 11.5pt;
    min-height: 150px;
    border-radius: var(--bor-radius-md);
}
.group-text-area textarea[disabled] {
    background-color: var(--lightgrey-sec);
    color: #B9B9B9;
}
.group-text-area-info textarea:focus, .group-text-area-info textarea:hover {
    outline: none;
    border-color: rgba(20, 87, 244,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(20 87 244 / 10%);
}
.group-text-area-success textarea:focus, .group-text-area-success textarea:hover {
    outline: none;
    border-color: rgba(40, 180, 99,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(40 180 99 / 10%);
}
.group-text-area-warning textarea:focus, .group-text-area-warning textarea:hover {
    outline: none;
    border-color: rgba(241, 196, 15,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(241 196 15 / 10%);
}
.group-text-area-danger textarea:focus, .group-text-area-danger textarea:hover {
    outline: none;
    border-color: rgba(231, 76, 60,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(231 76 60 / 10%);
}
.group-text-area-dark textarea:focus, .group-text-area-dark textarea:hover {
    outline: none;
    border-color: rgba(39, 55, 70,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(39 55 70 / 10%);
}
.group-text-area-muted textarea:focus, .group-text-area-muted textarea:hover {
    outline: none;
    border-color: rgba(171, 178, 185,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(171 178 185 / 10%);
}
.group-text-area-lightgrey textarea:focus, .group-text-area-lightgrey textarea:hover {
    outline: none;
    border-color: rgba(213, 216, 220,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(213 216 220 / 10%);
}
.group-text-area-light textarea:focus, .group-text-area-light textarea:hover {
    outline: none;
    border-color: rgba(244, 244, 244,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(244 244 244 / 10%);
}
.group-text-area-white textarea:focus, .group-text-area-white textarea:hover {
    outline: none;
    border-color: rgba(255, 255, 255,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(255 255 255 / 10%);
}

/*CARD*/
.r-card {
    border-radius: var(--bor-radius-md);
    padding: var(--ly-4);
    border: 1px solid var(--lightgrey);
}
.r-card.fluid {
    height: auto;
}

/*PADDING*/
.pd-0 {padding: var(--ly-0);}
.pd-1 {padding: var(--ly-1);}
.pd-2 {padding: var(--ly-2);}
.pd-3 {padding: var(--ly-3);}
.pd-4 {padding: var(--ly-4);}
.pd-5 {padding: var(--ly-5);}
.pd-6 {padding: var(--ly-6);}
.pd-7 {padding: var(--ly-7);}
.pd-8 {padding: var(--ly-8);}
.pd-9 {padding: var(--ly-9);}
.pdt-0 {padding-top: var(--ly-0);}
.pdt-1 {padding-top: var(--ly-1);}
.pdt-2 {padding-top: var(--ly-2);}
.pdt-3 {padding-top: var(--ly-3);}
.pdt-4 {padding-top: var(--ly-4);}
.pdt-5 {padding-top: var(--ly-5);}
.pdt-6 {padding-top: var(--ly-6);}
.pdt-7 {padding-top: var(--ly-7);}
.pdt-8 {padding-top: var(--ly-8);}
.pdt-9 {padding-top: var(--ly-9);}
.pdr-0 {padding-right: var(--ly-0);}
.pdr-1 {padding-right: var(--ly-1);}
.pdr-2 {padding-right: var(--ly-2);}
.pdr-3 {padding-right: var(--ly-3);}
.pdr-4 {padding-right: var(--ly-4);}
.pdr-5 {padding-right: var(--ly-5);}
.pdr-6 {padding-right: var(--ly-6);}
.pdr-7 {padding-right: var(--ly-7);}
.pdr-8 {padding-right: var(--ly-8);}
.pdr-9 {padding-right: var(--ly-9);}
.pdb-0 {padding-bottom: var(--ly-0);}
.pdb-1 {padding-bottom: var(--ly-1);}
.pdb-2 {padding-bottom: var(--ly-2);}
.pdb-3 {padding-bottom: var(--ly-3);}
.pdb-4 {padding-bottom: var(--ly-4);}
.pdb-5 {padding-bottom: var(--ly-5);}
.pdb-6 {padding-bottom: var(--ly-6);}
.pdb-7 {padding-bottom: var(--ly-7);}
.pdb-8 {padding-bottom: var(--ly-8);}
.pdb-9 {padding-bottom: var(--ly-9);}
.pdl-0 {padding-left: var(--ly-0);}
.pdl-1 {padding-left: var(--ly-1);}
.pdl-2 {padding-left: var(--ly-2);}
.pdl-3 {padding-left: var(--ly-3);}
.pdl-4 {padding-left: var(--ly-4);}
.pdl-5 {padding-left: var(--ly-5);}
.pdl-6 {padding-left: var(--ly-6);}
.pdl-7 {padding-left: var(--ly-7);}
.pdl-8 {padding-left: var(--ly-8);}
.pdl-9 {padding-left: var(--ly-9);}

/*MARGIN*/
.mg-0 {margin: var(--ly-0);}
.mg-1 {margin: var(--ly-1);}
.mg-2 {margin: var(--ly-2);}
.mg-3 {margin: var(--ly-3);}
.mg-4 {margin: var(--ly-4);}
.mg-5 {margin: var(--ly-5);}
.mg-6 {margin: var(--ly-6);}
.mg-7 {margin: var(--ly-7);}
.mg-8 {margin: var(--ly-8);}
.mg-9 {margin: var(--ly-9);}
.mgt-0 {margin-top: var(--ly-0);}
.mgt-1 {margin-top: var(--ly-1);}
.mgt-2 {margin-top: var(--ly-2);}
.mgt-3 {margin-top: var(--ly-3);}
.mgt-4 {margin-top: var(--ly-4);}
.mgt-5 {margin-top: var(--ly-5);}
.mgt-6 {margin-top: var(--ly-6);}
.mgt-7 {margin-top: var(--ly-7);}
.mgt-8 {margin-top: var(--ly-8);}
.mgt-9 {margin-top: var(--ly-9);}
.mgr-0 {margin-right: var(--ly-0);}
.mgr-1 {margin-right: var(--ly-1);}
.mgr-2 {margin-right: var(--ly-2);}
.mgr-3 {margin-right: var(--ly-3);}
.mgr-4 {margin-right: var(--ly-4);}
.mgr-5 {margin-right: var(--ly-5);}
.mgr-6 {margin-right: var(--ly-6);}
.mgr-7 {margin-right: var(--ly-7);}
.mgr-8 {margin-right: var(--ly-8);}
.mgr-9 {margin-right: var(--ly-9);}
.mgb-0 {margin-bottom: var(--ly-0);}
.mgb-1 {margin-bottom: var(--ly-1);}
.mgb-2 {margin-bottom: var(--ly-2);}
.mgb-3 {margin-bottom: var(--ly-3);}
.mgb-4 {margin-bottom: var(--ly-4);}
.mgb-5 {margin-bottom: var(--ly-5);}
.mgb-6 {margin-bottom: var(--ly-6);}
.mgb-7 {margin-bottom: var(--ly-7);}
.mgb-8 {margin-bottom: var(--ly-8);}
.mgb-9 {margin-bottom: var(--ly-9);}
.mgl-0 {margin-left: var(--ly-0);}
.mgl-1 {margin-left: var(--ly-1);}
.mgl-2 {margin-left: var(--ly-2);}
.mgl-3 {margin-left: var(--ly-3);}
.mgl-4 {margin-left: var(--ly-4);}
.mgl-5 {margin-left: var(--ly-5);}
.mgl-6 {margin-left: var(--ly-6);}
.mgl-7 {margin-left: var(--ly-7);}
.mgl-8 {margin-left: var(--ly-8);}
.mgl-9 {margin-left: var(--ly-9);}

/*HEIGHT-PERCENT*/
.hpc-100 {height: 100%;}
.hpc-85 {height: 85%;}
.hpc-70 {height: 70%;}
.hpc-55 {height: 55%;}
.hpc-40 {height: 40%;}
.hpc-25 {height: 25%;}
.hpc-10 {height: 10%;}
.hpc-0 {height: 0;}

/*WIDTH-PERCENT*/
.wpc-100 {width: 100%;}
.wpc-85 {width: 85%;}
.wpc-70 {width: 70%;}
.wpc-55 {width: 55%;}
.wpc-40 {width: 40%;}
.wpc-25 {width: 25%;}
.wpc-10 {width: 10%;}
.wpc-0 {width: 0;}

/*TEXT-COLOR*/
.txt-info {color: var(--info);}
.txt-success {color: var(--success);}
.txt-warning {color: var(--warning);}
.txt-danger {color: var(--danger);}
.txt-dark {color: var(--dark);}
.txt-muted {color: var(--muted);}
.txt-light {color: var(--light);}
.txt-lightgrey {color: var(--lightgrey);}
.txt-white {color: var(--white);}

/*CLICKABLE ANCHOR TEXT*/
.txt-click {cursor  : pointer;}
.txt-click:hover {opacity: 0.5;}

/*TEXT-ALIGN*/
.txt-left {text-align: left;}
.txt-center {text-align: center;}
.txt-right {text-align: right;}
.txt-justify {text-align: justify;}

/*MEDIA QUERY*/
@media (max-width: 575px){
    /*HEADING*/
    h1 {
        font-size: 28pt;
        font-weight: 800;
    }
    h2 {
        font-size: 24pt;
        font-weight: 700;
    }
    h3 {
        font-size: 20pt;
        font-weight: 700;
    }
    h4 {
        font-size: 16pt;
        font-weight: 700;
    }
    h5 {
        font-size: 12pt;
        font-weight: 700;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    /*HEADING*/
    h1 {
        font-size: 29pt;
        font-weight: 800;
    }
    h2 {
        font-size: 25pt;
        font-weight: 700;
    }
    h3 {
        font-size: 21pt;
        font-weight: 700;
    }
    h4 {
        font-size: 17pt;
        font-weight: 700;
    }
    h5 {
        font-size: 13pt;
        font-weight: 700;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .flex-input {
        flex-direction: column;
    }
    .flex-input div:not(:last-child) {
        margin-bottom: var(--ly-2);
    }
}
@media (min-width: 992px) and (max-width: 1199px){

}
@media (min-width: 1200px) and (max-width: 1399px){

}
@media (min-width: 1400px){

}